:root {
    --light: rgb(220, 220, 220);
    --dark-1: rgb(20, 20, 20);
    --dark-2: rgb(40, 40, 40);
    --dark-3: rgb(70, 70, 70);
    --dark-4: rgb(110, 110, 110);
    --primary: var(--dark-2);
    --secondary: var(--light);
    --tertiary: var(--dark-3);

    background-color: var(--primary);
}
:root * {
    color: var(--secondary);
    font-family: monospace;
}
body {
    --nav-height: 3rem;
    --video-select-height: (100svh - var(--nav-height));
    --video-select-ratio: 0.6;
    --select-video-ratio: calc(1 - var(--video-select-ratio));
    --video-height: calc(var(--video-select-ratio) * var(--video-select-height));
    --select-height: calc(var(--select-video-ratio) * var(--video-select-height));

    margin: 0;
}
nav {
    --lightness: 30;

    align-items: center;
    border-bottom: 1px solid var(--tertiary);
    box-sizing: border-box;
    display: flex;
    font-size: 1rem;
    height: var(--nav-height);
    padding: 1rem;
    position: sticky;
    width: 100%;
}
nav * {
    margin: 0;
}
#video {
    align-items: center;
    display: flex;
    height: var(--video-height);
    position: relative;
    justify-content: center;
}
#video-content {
    --border-radius: 3rem;
    --size: calc(var(--video-select-ratio) * 0.7);

    border: 8px solid var(--dark-1);
    border-radius: var(--border-radius);
    height: 100vh;
    scale: var(--size);
    width: 100vw;
}
#video-content *:not(.background) {
    --opacity: 0;
    --transition-duration: 0.2s;

    transition: opacity var(--transition-duration), visibility var(--transition-duration);
    opacity: var(--opacity);
    visibility: hidden;
}
#video-content.active *:not(.background) {
    --opacity: 1;
    --transition-duration: 1s;

    visibility: visible;
}
#video-content iframe {
    border: unset;
    border-radius: var(--border-radius);
    filter: blur(.8px);
    height: 100%;
    outline: unset;
    width: 100%;
}
#video-content .background {
    background-color: black;
    border-radius: var(--border-radius);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
#video-content a {
    border-radius: var(--border-radius);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
#video-content #crt-tv-overlay {
    --opacity: 0.2;
    --scan-line-height: 1vh;

    background: linear-gradient(to top, #111111, #111111, #333333, #333333);
    background-size: cover;
    background-size: 100% var(--scan-line-height);
    border-radius: var(--border-radius);
    filter: brightness(1.25);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#select {
    align-items: center;
    display: flex;
    gap: 2rem;
    height: var(--select-height);
    justify-content: center;
}
#select .vhs {
    --height: 11rem;
    --primary: var(--dark-1);
    --scale: 0;
    --secondary: var(--dark-4);

    background-color: var(--primary);
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    height: var(--height);
    overflow: hidden;
    padding: 0.8rem;
    scale: calc(1 + var(--scale));
    text-overflow: ellipsis;
    transform: translateY(calc(-0.5 * var(--height) * var(--scale)));
    transition: scale 0.2s, transform 0.2s;
    width: max-content;
    writing-mode: sideways-lr;
}
#select .vhs:hover {
    --scale: 0.1;

    transition: scale 0.3s, transform 0.3s;
}
#select .vhs:active {
    transform: unset;
}

@media screen{
  #crt-tv-overlay {
    animation: scan-lines infinite 50s linear ;
  }
} 
@keyframes scan-lines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 calc(-10 * var(--scan-line-height));
  }
}

@media only screen and (max-width: 800px) {
    :root {
        font-size: small;
    }
}